<div class="container">
    <h1>NUESTROS SERVICIOS</h1>

    <div class="servicios">

        <div class="card" style="width: 34rem;">
            <div class="card-header">
                Ganar Champions
            </div>
            <div class="card-body">
                <img src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg):focal(1322x914:1324x912)/origin-imgresizer.eurosport.com/2022/07/01/3401910-69518368-2560-1440.jpg"
                    class="card-img-top" alt="...">
                <a href="#" class="btn btn-primary d-block mt-3">Ver más</a>
            </div>
        </div>
        
        
        <div class="card" style="width: 34rem;">
            <div class="card-header">
                Ganar Liga
            </div>
            <div class="card-body">
                <img src="https://atalayar.com/sites/default/files/styles/foto_/public/noticias/real-madrid-campe%C3%B3n-liga.jpg?itok=-Ot0NHKK"
                    class="card-img-top" alt="...">
                <a href="#" class="btn btn-primary d-block mt-3">Ver más</a>
            </div>
        </div>

        

        <div class="card" style="width: 34rem;">
            <div class="card-header">
                Ganar Super Copa de Europa

            </div>
            <div class="card-body">
                <img src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/3FK5YHMFNNEK3M26XMHOBCXDYE.jpg"
                    class="card-img-top" alt="...">
                <a href="#" class="btn btn-primary d-block mt-3">Ver más</a>
            </div>
        </div>

        <div class="card" style="width: 34rem;">
            <div class="card-header">
                Ganar Super Copa de España
            </div>
            <div class="card-body">
                <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2020/01/13/15789326734718.jpg"
                    class="card-img-top" alt="...">
                <a href="#" class="btn btn-primary d-block mt-3">Ver más</a>
            </div>
        </div>
        
        
        
        

        <div class="card" style="width: 34rem;">
            <div class="card-header">
                Ganar Mundial de Clubes
            </div>
            <div class="card-body">
                <img src="https://www.realmadrid.com/img/cc_960px/7mundialclubes_20220503103542.jpg"
                    class="card-img-top" alt="...">
                <a href="#" class="btn btn-primary d-block mt-3">Ver más</a>
            </div>
        </div>

        <div class="card" style="width: 34rem;">
            <div class="card-header">
                Ganar Copa del Rey
            </div>
            <div class="card-body">
                <img src="https://www.realmadrid.com/img/horizontal_940px/04-16-copa-del-rey-futbol-2014-celebracion-campo-foto-grupo_v7c1020_re_20210312032113.jpg"
                    class="card-img-top" alt="...">
                <a href="#" class="btn btn-primary d-block mt-3">Ver más</a>
            </div>
        </div>


    </div>

</div>